{% extends 'base.html.twig' %}

{% block title %}Accueil index{% endblock %}

    {% block header %}
        {{ knp_menu_render('main') }}
    {% endblock %}
{% block main %}
    <h1>Accueil index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Citation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for accueil in accueils %}
            <tr>
                <td>{{ accueil.id }}</td>
                <td>{{ accueil.citation }}</td>
                <td>
                    <a href="{{ path('accueil_show', {'id': accueil.id}) }}" class="badge badge-primary">show</a>
                    <a href="{{ path('accueil_edit', {'id': accueil.id}) }}" class="badge badge-primary">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class='row'>
        <div class='col-10'></div>
        <a href="{{ path('accueil_new') }}" class='btn btn-primary'>new</a>
    </div>
    
{% endblock %}