{% extends 'base.html.twig' %}

{% block title %}Contact index{% endblock %}

{% block header %}
    {{ knp_menu_render('main') }}
{% endblock %}

{% block main %}
    <h1>Contact index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Mail</th>
                <th>Phone</th>
                <th>Fb</th>
                <th>Github</th>
                <th>Linkedin</th>
                <th>indeed</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.id }}</td>
                <td>{{ contact.mail }}</td>
                <td>{{ contact.phone }}</td>
                <td>{{ contact.fb }}</td>
                <td>{{ contact.github }}</td>
                <td>{{ contact.linkedin }}</td>
                <td>{{ contact.indeed }}</td>
                <td>
                    <a href="{{ path('contact_show', {'id': contact.id}) }}" class="badge badge-primary">show</a>
                    <a href="{{ path('contact_edit', {'id': contact.id}) }}" class="badge badge-primary">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class='row'>
        <div class='col-10'></div>
        <a href="{{ path('contact_new') }}" class='btn btn-primary'>new</a>
    </div>

{% endblock %}