{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <h1>Contact</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contact.id }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ contact.mail }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ contact.phone }}</td>
            </tr>
            <tr>
                <th>Fb</th>
                <td>{{ contact.fb }}</td>
            </tr>
            <tr>
                <th>Github</th>
                <td>{{ contact.github }}</td>
            </tr>
            <tr>
                <th>Linkedin</th>
                <td>{{ contact.linkedin }}</td>
            </tr>
            <tr>
                <th>indeed</th>
                <td>{{ contact.indeed }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('contact_index') }}">back to list</a>

    <a href="{{ path('contact_edit', {'id': contact.id}) }}">edit</a>

    {{ include('contact/_delete_form.html.twig') }}
{% endblock %}