{% extends 'base.html.twig' %}

{% block title %}Project index{% endblock %}

{% block header %}
    {{ knp_menu_render('main') }}
{% endblock %}

{% block main %}
    <h1>Project index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name_project</th>
                <th>Date_project</th>
                <th>Description_project</th>
                <th>Image_project</th>
                <th>Github_project</th>
                <th>Link_project</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.nameProject }}</td>
                <td>{{ project.dateProject ? project.dateProject|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ project.descriptionProject }}</td>
                <td>{{ project.imageProject }}</td>
                <td>{{ project.githubProject }}</td>
                <td>{{ project.linkProject }}</td>
                <td>
                    <a href="{{ path('project_show', {'id': project.id}) }}" class="badge badge-primary">show</a>
                    <a href="{{ path('project_edit', {'id': project.id}) }}" class="badge badge-primary">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class='row'>
        <div class='col-10'></div>
        <a href="{{ path('project_new') }}" class='btn btn-primary'>new</a>
    </div>
{% endblock %}