{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block body %}
    <h1>Project</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ project.id }}</td>
            </tr>
            <tr>
                <th>Name_project</th>
                <td>{{ project.nameProject }}</td>
            </tr>
            <tr>
                <th>Date_project</th>
                <td>{{ project.dateProject ? project.dateProject|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Description_project</th>
                <td>{{ project.descriptionProject }}</td>
            </tr>
            <tr>
                <th>Image_project</th>
                <td>{{ project.imageProject }}</td>
            </tr>
            <tr>
                <th>Github_project</th>
                <td>{{ project.githubProject }}</td>
            </tr>
            <tr>
                <th>Link_project</th>
                <td>{{ project.linkProject }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('project_index') }}">back to list</a>

    <a href="{{ path('project_edit', {'id': project.id}) }}">edit</a>

    {{ include('project/_delete_form.html.twig') }}
{% endblock %}